.ability {
  height: 90%;
  width: 100%;
  background-color: #1070ca;
  text-align: center;
  &__header {
    color: red;
  }
  &__section {
    &--emoji {
      font-size: 30px;
    }
    &__section__header {
    }
    &__list {
      &--element {
      }
    }
  }
}
