.header {
  padding: 10px 16px 88px;
  color: $textDark;
  @media (min-width: $tablet) {
    padding: 50px 16px 88px;
    max-width: 786px;
    margin: 0 auto;
  }
  @media (min-width: $desktop) {
    padding: 50px 16px 88px;
    max-width: 100%;
  }
  &__cloud {
    display: none;
    @media (min-width: $desktop) {
      display: block;
      color: white;
      background-color: $blue;
      padding: 16px 19px;
      font-size: 32px;
      font-weight: bold;
      border-radius: 16px;
      &:after {
        content: "";
        position: absolute;
        top: 100%;
        display: block;
        width: 17.42px;
        height: 22.66px;
        background-image: url("../assets/icons/speech.svg");
      }
    }
  }
  &__foto {
    box-sizing: content-box;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 16px solid #e0e5ec;
    @media (min-width: $desktop) {
      width: 176px;
      height: 176px;
      border: 24px solid #e0e5ec;
    }
  }
  &__container {
    text-align: center;

    @media (min-width: $desktop) {
      max-width: 786px;
      margin: 0 auto;
      position: relative;
      &::before,
      &::after {
        width: 83.23px;
        height: 254.88px;
        content: "";
        display: block;
        position: absolute;
        top: 0;
      }
      &::before {
        background: url(../assets/icons/cube-left.svg);
        right: 100%;
      }
      &::after {
        background: url(../assets/icons/cube-right.svg);
        left: 100%;
      }
    }
  }
  &__foto--container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__link {
    color: $blue;
    text-decoration: none;
  }
  &__speech {
    position: absolute;
    left: calc(50% + 90px);
    top: -26px;
  }
  &__text {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 0 0;
    @media (min-width: $desktop) {
      font-size: 32px;
      line-height: 40px;
    }
    &--bold {
      color: $textBlue;
      white-space: nowrap;
    }

    &--description {
      font-size: normal;
      // font-weight: 400;
      text-align: center;
      font-size: 16px;
      line-height: 32px;
      margin: 16px 0px 40px;
      @media (min-width: $desktop) {
        font-size: 20px;
        line-height: 40px;
      }
    }
    &--mail {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      line-height: 40px;
      display: inline-block;
      color: white;
      background-color: $textBlue;
      border-radius: 64px;
      padding: 4px 24px;
      text-decoration: none;
    }
  }
}
