$wtf: #2d2241;
$blue: #1070ca;
$lightBlue: #dbeaf7;
$console: #808082;
$consoleLight: #a3a3a3;
$consoleLink: #14b5d0;
$grey: #212528;
$darkGrey: #1e1e1e;
$mediumGrey: #464a4d;
$text: #425a70;
$textBlue: #4da8ff;
$textDark: #234361;
$textLink: #14b5d0;
$textList: #dbeaf7;

$tablet: 768px;
$desktop: 960px;
