@import "~normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,300;1,600&family=Roboto+Mono:wght@400;700&display=swap");

@import "_variables";
@import "modules/header.scss";
@import "modules/ability.scss";
@import "modules/projects.scss";
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Nunito;
  color: $text;
}
